<%= render "shared/header" %>
<div class="main">
  <% if user_signed_in? %>
  <% else %>
  <div class="title-contents">
    <h2 class="service-title">
      子どもの”いま” は ”いま”しかない
    </h2>
    <p class='service-explain'>
      子どもの成長はあっという間
    </p>
    <p class='service-explain'>
      そんな日常の大切な記録を残しませんか？
    </p>
  </div>
  <div class="introduction">
    <div class="main-introduction">
      <h3 class="introduction-title">紹介</h3>
      <p class="introduct-text">あなたのお子様の日々の思い出や、記録を残しませんか？</p>
      <div class="introduct">
        <div class="introduction-content">
        </div>
        <p class="introduct-sub-text">
          <br><br> このような投稿が可能です。<br>
          写真と写真のタイトル、そしてコメントと日付を投稿できます。<br><br>
          お子様の成長はあっという間<br>
          そんな大切な日常の記録をこのように残しておきましょう。
        </p>
      </div>
      <div class="introduct">
        <div class="introduction-content-second">
        </div>
        <p class="introduct-sub-text">
          <br><br> 他にも、食事の記録の可能です。<br>
          写真と写真のタイトル、そしてコメントと食事の時間、日付を投稿できます。<br><br>
          お子様の好き嫌いの記録、<br>
          食事の過程を記録し、成長を実感しましょう。<br><br><br><br>
          是非、お子様の日々の思い出や、記録にご活用ください！
        </p>
      </div>
    </div>
    <div class='new-button'>
      <div class='introduction-right'>
        <div class="right-title"> 今日の記録 </div>
        <div><%= link_to 'ログイン', new_user_session_path, class: "login", id:"login-btn" %></div>
        <div class="right-title"> 大切な記録を残す </div>
        <div><%= link_to '新規登録', new_user_registration_path, class: "sign-up", id:"sign-up-btn" %></div>
      </div>
    </div>
  </div>
  <% end %>
  

  <% if user_signed_in? %>
    <%# 記録一覧 %>
  <div class='item-contents'>
    <h2 class='title'>記録</h2>
    <div class="subtitle" >
      思い出一覧
    </div>
    <%= link_to(new_diary_path, class: 'purchase-btn') do %>
    <span class='purchase-btn-text' id="diary-btn">思い出を残そう</span>
    <!-- < image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" > -->
    <% end %>
    <ul class='item-lists'>
      <%# 日記記録 %>
      <% @diaries.each do |diary|%>
        <li class='list'>
          <%= link_to diary_path(diary.id) do %>
          <div class='item-img-content'>
            <%= image_tag diary.image, class: "item-img" %>
          </div>
          <div class='item-info'>
            <h3 class='diary-title'>
              <%= diary.diary_title %>
            </h3>
            <div class='diary-comment'>
              <%= diary.diary_comment %>
            </div>
            <div class='diary-day'>
              <%= diary.diary_day %>
            </div>
          </div>
          <% end %>
        </li>
      <% end%>
    </ul>
  </div>

  <div class='item-contents'>
    <div class="subtitle" >
      食事記録一覧
    </div>
    <%= link_to(new_meal_path, class: 'meal-btn') do %>
    <span class='meal-btn-text' id="meal-btn">食事の記録を残す</span>
    <!-- < image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" > -->
    <% end %>
    <ul class='item-lists'>
      <%# 食事記録 %>
      <% @meals.each do |meal|%>
        <li class='list'>
          <%= link_to meal_path(meal.id) do %>
          <div class='meal-img-content'>
            <%= image_tag meal.image, class: "item-img" %>
          </div>
          <div class='item-info'>
            <h3 class='meal-title'>
              <%= meal.meal_title %>
            </h3>
            <div class='meal-comment'>
              <%= meal.meal_comment %>
            </div>
            <div class='meal-time'>
              <%= meal.meal_time.name %>
            </div>
            <div class='meal-day'>
              <%= meal.meal_day %>
            </div>
          </div>
          <% end %>
        </li>
      <% end%>
    </ul>
  </div>

  <% else %>
  <% end %>
</div>
<%= render "shared/footer" %>

