<div class="items-sell-main">
  <h2 class="items-sell-title">日記を記録しよう！</h2>
  <%= form_with model:@diary,local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <%# 投稿画像 %>
  <div class="img-upload">
    <div class="weight-bold-text">
      今日の思い出の一枚
      <span class="indispensable">必須</span>
    </div>
    <div class="click-upload">
      <p>
        写真と一緒に残そう！
      </p>
      <%= f.file_field :image, id:"item-image" %>
    </div>
  </div>
  <%# /投稿画像 %>
  <%# 商品名と商品説明 %>
  <div class="new-items">
    <div class="weight-bold-text">
      今日のできごと
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :diary_title, class:"items-text", id:"item-name", placeholder:"今日のできごと（50文字まで)", maxlength:"50" %>
    <div class="items-explain">
      <div class="weight-bold-text">
        どんなできごと？
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :diary_comment, class:"items-text", id:"item-info", placeholder:"できごとを書き残そう（ 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
      <div class="weight-bold-text">
        日付
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :diary_day, class:"items-text", id:"item-name", placeholder:"日付（2022-02-10)", maxlength:"12" %>
    </div>
  </div>
  <%# /商品名と商品説明 %>
  <%# 下部ボタン %>
  <div class="sell-btn-contents">
    <%= f.submit "思い出を残す" ,class:"sell-btn" %>
    <%=link_to 'もどる', root_path, class:"back-btn" %>
  </div>
  <%# /下部ボタン %>
  <%end%>
</div>