<%= render "shared/header" %>
<div class="item-show">
  <div class="show-box">
    <h2 class="show-title">
      <%= @diary.diary_title %>
    </h2>
    <div class="show-img-content">
      <%= image_tag @diary.image ,class:"show-box-img" %>
    </div>
    <div class="show-comment-box">
      <span class="show-comment">
        <%= @diary.diary_comment %>
      </span>
      <span class="show-day">
        <%= @diary.diary_day %>
      </span>
    </div>
      <% if current_user.id == @diary.user_id %>
          <%= link_to "日記の編集", edit_diary_path(@diary.id), method: :get, class: "item-orange-btn" %>
          <p class="or-text">or</p>
          <%= link_to "削除", diary_path(@diary.id), method: :delete, class:"item-destroy" %>
        <% else %>
          <% link_to "コメントする", "#_path(@diary.id)" ,class:"item-orange-btn"%>
      <% end %>
    <div class="back">
      <%=link_to '一覧へ戻る', root_path, class:"back-show-btn" %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>

