<%= render "shared/header" %>
<div class="item-show">
  <div class="show-box">
    <h2 class="show-title">
      <%= @meal.meal_title %>
    </h2>
    <div class="show-img-content">
      <%= image_tag @meal.image ,class:"show-box-img" %>
    </div>
    <table class="show-comment-box">
      <tbody>
        <tr>
          <th class="show-item">コメント</th>
          <td class="show-value"><%= @meal.meal_comment %></td>
        </tr>
        <tr>
          <th class="show-item">食べた様子</th>
          <td class="show-value"><%= @meal.taste.name %></td>
        </tr>
        <tr>
          <th class="show-item">食べた時間</th>
          <td class="show-value"><%= @meal.meal_time.name %></td>
        </tr>
        <tr>
          <th class="show-item">投稿日</th>
          <td class="show-value"><%= @meal.meal_day %></td>
        </tr>
        <tr>
      </tbody>
    </table>
      <% if current_user.id == @meal.user_id %>
          <%= link_to "記録の編集", edit_meal_path(@meal.id), method: :get, class: "item-orange-btn" %>
          <p class="or-text">or</p>
          <%= link_to "削除", meal_path(@meal.id), method: :delete, class:"item-destroy" %>
        <% else %>
          <% link_to "コメントする", "#_path(@meal.id)" ,class:"item-orange-btn"%>
      <% end %>
      <div class="back">
        <%=link_to '一覧へ戻る', root_path, class:"back-show-btn" %>
      </div>
  </div>
  
</div>
<%= render "shared/footer" %>

